.container {
  padding-top: 40px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-item {
  margin: 10px 10px 10px 0;
  padding: 13px 30px;
  font-weight: bold;
  background-color: var(--light-gray1);
  border-radius: 10px;
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.list-item:hover {
  background-color: var(--light-gray2);
}

.list-item.active {
  color: var(--light-gray3);
  background-color: var(--dark-gray2);
}
