.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-logo {
  padding-top: 20px;
  padding-right: 7px;
}

.images-logo {
  display: flex;
}

.images-item {
  width: 60px;
  margin-right: 10px
}

.title {
  font-size: 24px;
  font-weight: 800;
  text-align: initial;
  text-transform: uppercase;
  color: var(--dark-gray4);
}

.subtitle {
  text-align: initial;
  color: var(--gray3);
}

.container-cart {
  max-width: 200px;
  padding-top: 20px;
}

.link-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 15px;
  line-height: 23px;
  background-color: var(--light-gray1);
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
}

.price,
.counter {
  font-size: 16px;
  font-weight: 600;
}

.price::after {
  position: relative;
  padding-left: 5px;
  content: '₽';
}

.delimiter {
  width: 1px;
  height: 25px;
  margin-right: 14px;
  margin-left: 14px;
  background-color: var(--dark-gray1);
}

.images-cart {
  margin-right: 8px;
  margin-bottom: 1px
}

.link-cart,
.price,
.delimiter,
.images-cart,
.counter {
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out
}

.link-cart:hover {
  background-color: var(--light-gray2);
}

.link-cart:active {
  background-color: var(--dark-gray2);
  -webkit-transform: translateY(1px);
  transform: translateY(1px)
}

.link-cart:active>.price,
.link-cart:active>.images-cart,
.link-cart:active>.counter {
  color: var(--light-gray3);
  fill: var(--light-gray3);
}

.link-cart:active>.delimiter {
  background-color: var(--light-gray3);
}