.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.label {
  padding-top: 20px;
  padding-right: 7px;
}

.label__images {
  display: flex;
}

.label__images-item {
  width: 60px;
  margin-right: 10px
}

.label__title {
  font-size: 24px;
  font-weight: 800;
  text-align: initial;
  text-transform: uppercase;
  color: var(--dark-gray4);
}

.label__subtitle {
  text-align: initial;
  color: var(--gray3);
}

.basket-button {
  max-width: 200px;
  padding-top: 20px;
}

.basket-button__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 15px;
  line-height: 23px;
  background-color: var(--light-gray1);
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
}

.basket-button__price,
.basket-button__counter {
  font-size: 16px;
  font-weight: 600;
}

.basket-button__price::after {
  position: relative;
  padding-left: 5px;
  content: '₽';
}

.basket-button__delimiter {
  width: 1px;
  height: 25px;
  margin-right: 14px;
  margin-left: 14px;
  background-color: var(--dark-gray1);
}

.basket-button__images {
  margin-right: 8px;
  margin-bottom: 1px
}

.basket-button__item,
.basket-button__price,
.basket-button__delimiter,
.basket-button__images,
.basket-button__counter {
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out
}

.basket-button__item:hover {
  background-color: var(--light-gray2);
}

.basket-button__item:active {
  background-color: var(--dark-gray2);
  -webkit-transform: translateY(1px);
  transform: translateY(1px)
}

.basket-button__item:active>.basket-button__price,
.basket-button__item:active>.basket-button__images,
.basket-button__item:active>.basket-button__counter {
  color: var(--light-gray3);
  fill: var(--light-gray3);
}

.basket-button__item:active>.basket-button__delimiter {
  background-color: var(--light-gray3);
}